.productsCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px ;
    grid-row-gap: 20px;
}

.divider{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftone{
    width: 108px;
    height: 6px;
    background-color: #F2CB05;
}

.rightone{
    width: 108px;
    height: 6px;
    background-color: #194A60;
}

@media (min-width: 768px) and (max-width : 991px) {
    .productsCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px ;
        grid-row-gap: 20px;
    }
    
}

@media (min-width: 500px) and (max-width : 767px) {
    .productsCards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px ;
        grid-row-gap: 20px;
    }
    
}