  
  .masthead-heading,
  .masthead-intro,
  .content-footer {
    text-align: center;
  }
  
  /* .masthead {
    margin-top: 70px;
    padding: 11em 0;
    background-image: url('../../Images/man2.png');
    background-repeat: no-repeat;
    background-size: auto;
    border-top: solid 5px #1D527F ;
  } */
  

  .masthead {
      background-image: url(../../Images/man2.png);
      min-height: 768px;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 78%;
      margin-left: 14rem;
    
  }

  .masthead-intro {
    /* Text Declarations */
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic," Georgia, serif;
    font-size: 4em;
    color: black;
    text-transform: uppercase;
    letter-spacing: .08em;
  }
  
  
  .masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: light;
    font-size: 1.5em;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: black;
  }
  
  
  .introduction-section > p,
  .location-section > p,
  .content-footer > p,
  .questions-section > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  
 
  
  .introduction-section,
  .location-section,
  .questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  
  .questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.1 em;
    font-weight: bold;
    color: #222222;
  }
  
  

  
  @media only screen and (max-width: 571px) {
      .masthead {
          display: none;
      }
      .masthead-intro {
          font-size: 3em;
      }
      .masthead-heading {
          font-size: .5em;
      }
      .container {
          padding: 0 3em;
      }
      .footer-container {
          padding: 0 3em;
    }
  }
 